---
import Author from '../Author.astro';
---

<div
	class='about-the-author py-4 border-b'
>
	<h3 class='font-extrabold uppercase mb-4 text-sm'>About the Author</h3>
	<Author picSize='md' />
	<div class='author-desc text-[.825rem] my-4'>
		<p class='mb-3'>
			Matt is in the process of learning to be a Frontend Developer and wishes to migrate all of his projects from Wordpress to Astro
		</p>
		<p>This is his personal blog where you can keep track of his progress.</p>
	</div>
</div>


